/**
  |============================
  | Root
  |============================
*/
:root {
    --dark-cl: #2e2f42;
    --blue-cl: #4D5AE5;
    --white-cl: #FFFFFF;
    --contact-cl: #434455;
    --footer-cl: #F4F4FD;
}

/* Reset */

.list {
    list-style: none;
}

.link {
    text-decoration: none;
}

.address {
    font-style: normal;
}

btn {
    font-family: inherit;
}


/**
  |============================
  | Common styles
  |============================
*/
body {
    font-family: 'Roboto', sans-serif;
    color: #434455;
    background-color: var(--white-cl);
}

/**
  |============================
  | Header
  |============================
*/

.nav {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--dark-cl);
}

.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-decoration: none;
    color: var(--blue-cl);
}

.header-studio {
    color: var(--dark-cl);
}

.nav-link {
    text-decoration: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--dark-cl);
}

.nav-link:hover,
.nav-link:focus {
    color: #404bbf;
}

.address-link {
    text-decoration: none;
    font-style: normal;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--contact-cl);
}

.address-link:hover,
.address-link:focus {
    color: #404bbf;
}

/**
  |============================
  | Base styles
  |============================
*/

h1 {
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    color: var(--white-cl);
    text-align: center;
    letter-spacing: 0.02em;
}

h2 {
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--dark-cl);
}

h3 {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--dark-cl);
}

/**
  |============================
  | Webstudio page
  |============================
*/

.section-banner {
    background-color: #2E2F42;
}

.banner-btn {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    background: var(--blue-cl);
    cursor: pointer;
}

.banner-btn:hover,
.banner-btn:focus {
    background: #404BBF;
}

.btn-text {
    color: var(--white-cl);
}

.feature-text {
    color: var(--contact-cl)
}

.feature-item {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--dark-cl);
}

.wedoing-title {
    text-align: center;
}

.section-team {
    background-color: #F4F4FD;
}

.team-title {
    text-align: center;
}

.team-item {
    background-color: #FFFFFF;
}

.team-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--contact-cl);
}

/**
  |============================
  | Porfolio page
  |============================
*/

.portfolio-btn {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--blue-cl);
    background-color: var(--footer-cl)
}

.portfolio-btn:hover,
.portfolio-btn:focus {
    color: var(--white-cl);
    background: #404BBF;
}

.portfolio-h2 {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--dark-cl);
}

.portfolio-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--contact-cl);
}


/**
  |============================
  | Footer
  |============================
*/

.footer {
    background-color: #2E2F42;
    color: var(--footer-cl)
}

.footer {
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--blue-cl);
}

.footer-link {
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--blue-cl);
    text-decoration: none;
}

.footer-logo:hover,
.footer-logo:focus {}

.footer-text {
    line-height: 1.5;
    color: var(--footer-cl);
    letter-spacing: 0.02em;
}

.footer-studio {
    color: #f4f4fd;
}